<div class="modal">
    <div class="modal__contents">
        <form action="/post" enctype="multipart/form-data" method="post">
            <textarea placeholder="Share your travel" name="post" cols="30" rows="10"></textarea>
            <input type="text" name="address" placeholder="Address">
            <input type="hidden" name="name" value="<%= user.username %>">
            <label for="uploadtofile">
                <input type="file" name="image" id="uploadtofile">
            </label>
            <button>Post</button>
        </form>
    </div>
</div>